.time-picker {
  position: relative;
}

.dropdown {
  display: flex;
  width: fit-content;
  max-height: 250px;
  /* overflow: auto; */
  background-color: white;
  color: black;
  gap: 12px;
  padding: 0 12px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.hours, .minutes, .time {
    max-height: 100%;
    overflow: auto;
}
